@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

html {
  font-family: "Roboto Mono", "Courier New", Courier, monospace;
}

body {
  line-height: 1.5;
  font-size: 1.25em;
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.description {
  max-width: 80%;
  justify-content: flex-start;
}

.icon {
  position: relative;
  top: 2px;
  right: 3px;
  text-decoration: none;
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .icon {
    display: none;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 280px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .description {
    font-size: 1em;
  }
}

.dotted {
  border-bottom: 2px dotted #2b2b2b;
}

.code {
  color: #111;
  font-family: "Courier New", Courier, monospace;
  background: #dfdfdf;
  display: inline-block;
  line-height: 1;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 5px;
}

.underline {
  text-decoration: underline;
}

a {
  color: rgb(12, 12, 12);
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

@media (min-width: 768px) {
  .description {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .description {
    max-width: 90%;
    margin-top: 10px;
  }
}

@media (min-width: 768px) {
  nav ul {
    display: flex;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 1.1em;
  }

  nav {
    font-size: 0.75em;
  }
}

nav {
  align-items: center;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  ul {
    list-style: none;
  }

  ul li {
    padding: 0 10px;
  }

  ul li a {
    padding-bottom: 2px;
  }
}

// .uses_list ul li {
//   font-weight: 400;
//   font-size: 20px;
// }
